<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/9687515d25.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header class="header">
        <img src="/img/logo.jpg" alt="logotipo" class="header__logo">

        <a href="#" class="header__bars">
            <i class="fa fa-bars"></i></a>
        
        <nav class="header__nav">
            <ul>
                <li><a href="#home">home</a></li>
                <li><a href="#quienes">quienes</a></li>
                <li><a href="#servicios">servicios</a></li>
                <li><a href="#portafoio">portafolio</a></li>
                <li><a href="#sucursales">sucursales</a></li>
                <li><a href="#contactos">contactos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <img class="main__banner" src="/img/img-banner.jpg" alt="banner">
        </div>

<!-- productos -->
        <div class="home__main__products">
            <article class="product">
                <div class="photo-container">
                <img class="photo" src="img/img-pdto-1.jpg" alt="pdto 03" >
                <img class="especial" src="img/img-nuevo.png" alt="descuento">
                <a class="zoom" >Ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.necessitatibus, officia ex.
                <a class="more">ver más</a>
                </article>
            <article class="product">
                <div class="photo-container">
                <img class="photo" src="img/img-pdto-2.jpg" alt="pdto 03" >
                <img class="especial" src="img/img-gratis.png" alt="descuento">
                <a class="zoom" >Ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.necessitatibus, officia ex.
                <a class="more">ver más</a>
                </article>
            <article class="product">
                <div class="photo-container">
                <img class="photo" src="img/img-pdto-3.jpg" alt="pdto 03" >
                <img class="especial" src="img/img-descuento.png" alt="descuento">
                <a class="zoom" >Ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.necessitatibus, officia ex.
                <a class="more">ver más</a>
                </article>
            <article class="product">
                <div class="photo-container">
                <img class="photo" src="img/img-pdto-1.jpg" alt="pdto 03" >
                <img class="especial" src="img/img-gratis.png" alt="descuento">
                <a class="zoom" >Ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.necessitatibus, officia ex.
                <a class="more">ver más</a>
                </article>
            <article class="product">
                <div class="photo-container">
                <img class="photo" src="img/img-pdto-2.jpg" alt="pdto 03" >
                <img class="especial" src="img/img-nuevo.png" alt="descuento">
                <a class="zoom" >Ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.necessitatibus, officia ex.
                <a class="more">ver más</a>
                </article>
            <article class="product">
                <div class="photo-container">
                <img class="photo" src="img/img-pdto-3.jpg" alt="pdto 03" >
                <img class="especial" src="img/img-descuento.png" alt="descuento">
                <a class="zoom" >Ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.necessitatibus, officia ex.
                <a class="more">ver más</a>
                </article>
        </section>
    </main>
    <footer class="footer">
        <nav class="footer__nav">
            <ul>
                <li><a href="#home">home</a></li>
                <li><a href="#quienes">quienes</a></li>
                <li><a href="#servicios">servicios</a></li>
                <li><a href="#portafolio">portafolio</a></li>
                <li><a href="#sucursales">sucursales</a></li>
                <li><a href="#contacto">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>